<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" allowedVersions="[3.51.0]" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.51.0" allowedVersions="[3.51.0]" targetFramework="net45" />
  <package id="Moq" version="4.1.1308.2120" allowedVersions="[4.1.1308.2120]" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net45" />
</packages>